<configuration>
  <system.webServer>
	<httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="stepscanService">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
        <requestFiltering>
            <!-- 3GB Files / in byte (3072*1024*1024) -->
            <requestLimits maxAllowedContentLength="3221225472"/>
        </requestFiltering>
    </security>    
  </system.webServer>
  <system.web>
      <httpRuntime maxRequestLength="1048576" />
  </system.web>    
</configuration>
